extends layout

block content
  h1 Add student
  .errors
    .ul
      if errors
        each error in errors
          li #{error}
  form(action='/add-student' method='post')
    input(name='name' placeholder='Student Name')
    input(name='phone' placeholder='Phone Number')
    input(type='submit')