extends layout

block content
  h1 Enter valid email and password
  .errors
    .ul
      if errors
        each error in errors
          li #{error}
  form(action='/register' method='POST')
    input(name='email' placeholder='Email')
    input(name='password' placeholder='Password' type='password')
    input(type='submit')